html, body {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  font-family: 'MuseoModerno', cursive;
  color: red;
}

.display {
  display: flex;
  justify-content: space-around;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  padding: 25px
}

.heading {
  display: flex;
  justify-content: space-around;
  border-top: 5px solid purple;
  border-radius: 5px;
  background-color: rgba(139, 0, 0, 0.3)
  
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.display-image img {
  display: block;
  height: 100px;
  width: 100px;
  
}

.display-song p {
  font-size: 18px;
  height: 100px;
  font-weight: bold;
  
}

.display-artist p {
  font-size: 18px;
  height: 100px;
  
}


.display-link a {
  display: block;
  font-size: 18px;
  height: 100px;
  font-weight: bold;
  
}

.form {
  width: 75%;
  margin: 0 auto 20px auto;
  font-size: 18px;
}

input {
  padding: 5px 10px;
  font-size: 14px;
  color: black;
}

button {
  font-size: 14px;
  padding: 5px 10px;
  color: #AA6C39;
  border: inset;
  border-color: red;
  
}

body {
  background: url(https://media.tenor.com/g1bZgt4-tL4AAAAC/skull.gif);
color: white;
}

h4{
  color: white;
  font-family: 'Federo', sans-serif;
}

